<mat-card class="lista-aplicantes px-4">
    <h2 class="text-center py-2">Tabla de Posiciones</h2>

    <table *ngIf="dataReady == true && listaParticipantes.length > 0" mat-table [dataSource]="listaParticipantes" >
        <!-- Nombre Torneo Column -->
        <ng-container matColumnDef="equipo">
            <th mat-header-cell *matHeaderCellDef> Equipo </th>
            <td mat-cell *matCellDef="let participante"> 
                <!--
                <a [routerLink]="['/perfil/', participante.idequipo]">{{participante.nametorneus}}</a>
                -->
                <b>{{participante.nametorneus}}</b>
            </td>
        </ng-container>

        <!-- Fecha Inicio Column -->
        <ng-container matColumnDef="puntos">
            <th mat-header-cell *matHeaderCellDef> Puntos </th>
            <td mat-cell *matCellDef="let participante"> 
                {{participante.puntostorneo}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <ng-container *ngIf="dataReady == true && listaParticipantes.length == 0">
        <p class="text-center">Aún no hay participantes en el torneo.</p>
    </ng-container>
    
</mat-card>
