<div class="container">
    <h1 mat-dialog-title>Asignar ganador</h1>
    <div mat-dialog-content>
        <p>¿Quién es el ganador del equipo?</p>
        <div *ngIf="estadoResultados == 1">Hay conflicto.</div>
        <div *ngIf="estadoResultados == 0">
            <div>No hay conflicto.</div>
            <div>{{ganador.nombreequipo1}}: {{ganador.puntosequipo1}} puntos.</div>
            <div>{{ganador.nombreequipo2}}: {{ganador.puntosequipo2}} puntos.</div>
            <div>El equipo ganador es <b>{{ganador.nombreequipoganador}}</b></div>
        </div>
        <div *ngIf="estadoResultados == 2">Solo el equipo {{ganador.nombreequipo1}} subió resultados. Se le asignarán 3 puntos a dicho equipo.</div>
        <div *ngIf="estadoResultados == 3">Solo el equipo {{ganador.nombreequipo2}} subió resultados. Se le asignarán 3 puntos a dicho equipo.</div>
        <div *ngIf="estadoResultados == 4">Los equipos no subieron sus resultados. Ningún equipo obtendrá puntos.</div>

        <div class="my-2" *ngIf="estadoResultados != 4">
            <mat-radio-group [(ngModel)]="ganador.idequipoganador" 
            [disabled]="estadoResultados == 2 || estadoResultados == 3 || estadoResultados == 0" 
            color="primary" [required]="true" aria-label="Seleccione un ganador">
                <mat-radio-button [value]="idequipo1">{{nameequipo1}}</mat-radio-button>
                <mat-radio-button [value]="idequipo2">{{nameequipo2}}</mat-radio-button>
            </mat-radio-group>
        </div>

        <div *ngIf="checkExisteGanadorVersus()">
            Este enfrentamiento ya posee un ganador
        </div>
    </div>
    <div mat-dialog-actions class="containerAcciones d-flex justify-content-between">
        <!-- Si es 0, no hay conflicto, si es 1 hay conflicto, si hay 2 el equipo1 subio y equipo2 no, si 
        es 3 equipo2 subio y equipo1 no, -->
        <button *ngIf="!checkExisteGanadorVersus() && estadoResultados != 4" 
        (click)="updatePuntosEquipos(conflicto)" [disabled]="ganador.idequipoganador == 0"
         mat-raised-button color="primary">Confirmar</button>

         <!-- cuando es 4 es que ninguno subio el resultado -->
        <button *ngIf="estadoResultados == 4" mat-raised-button color="primary">Confirmar</button>
        <button mat-button mat-dialog-close>Cerrar</button>
        <!--
        <button *ngIf="!checkExisteGanadorVersus()" (click)="updatePuntosEquipos(conflicto)" 
        [disabled]="ganador.idequipoganador == 0" mat-raised-button color="primary">Confirmar</button>
        -->
    </div>
</div>