.background{
    background-image: url('./../../../../assets/images/login-background.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    background-attachment: fixed;
}

.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: unset;
}

.title{
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    align-items: center !important;
    .tituloCard{
        margin-right: auto;
        margin-left: auto;
    }

}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 22px;

    .form-field{
        width: 100%;
    }

    .buttonsContainer{
        display: flex;
        justify-content: space-between;
    }

    .successCuadro{
        display: flex;
        margin: 10px 0px 10px 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: var(--success-color);
        padding: 6px 0px;
        border-radius: 8px;

        .successCuadroText{
            color:white
        }
    }
    
}



/* Mobile */
@media (max-width: 768px) {
    .container{
        width: 95%;
    }
}

/* Tablets y monitores pequeños */
@media (min-width: 768px) and (max-width: 920px) {
    .container{
        width: 80%;
    }
}

/* PC */
@media (min-width: 920px){
    .container{
        width: 75%;
    }
}