<div class="background">
    <mat-card class="container">
        <div class="title">
            <app-button-back [ruta]="'/register'"></app-button-back>
            <h3 class="tituloCard">Registrarse como {{nombreRol}}</h3>
        </div>

        <!-- Formulario registro para jugador u organizador -->
        <div *ngIf="idRol == 2 || idRol == 4" class="content">
            <form [formGroup]="registerJugadorOrganizadorForm">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Tu Nombre y apellido</mat-label>
                    <input matInput type="text" formControlName="nombre" placeholder="Escribe tu nombre y apellido">
                    <mat-error *ngIf="registerJugadorOrganizadorForm.controls.nombre.errors?.required">
                        Ingresa tu nombre y apellido.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Escribe un email VÁLIDO (ejemplo: tuemail@ejemplo.com)">
                    <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
                    <mat-error *ngIf="registerJugadorOrganizadorForm.controls.email.errors?.required">
                        Ingresa un email.
                    </mat-error>
                    <mat-error *ngIf="registerJugadorOrganizadorForm.controls.email.errors?.pattern">
                        Ingresa un email válido: (ejemplo@ejemplo.com)
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>País de Residencia</mat-label>
                    <mat-select formControlName="pais">
                      <mat-option *ngFor="let pais of paises" (click)="test(pais)" [value]="pais.id">
                        {{pais.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="registerJugadorOrganizadorForm.controls.pais.errors?.required">
                        Selecciona un país
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Provincia de Residencia</mat-label>
                    <mat-select formControlName="provincia">
                      <mat-option *ngFor="let provincia of provincias" (click)="test(provincia)" [value]="provincia.id">
                        {{provincia.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="registerJugadorOrganizadorForm.controls.provincia.errors?.required">
                        Selecciona una provincia
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Localidad de Residencia</mat-label>
                    <mat-select formControlName="localidad">
                      <mat-option *ngFor="let localidad of localidades" (click)="test(localidad)" [value]="localidad.id">
                        {{localidad.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="registerJugadorOrganizadorForm.controls.localidad.errors?.required">
                        Selecciona una localidad
                    </mat-error>
                </mat-form-field>

                <!--
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Fecha de nacimiento (DD-MM-AAAA)</mat-label>
                    <input matInput formControlName="fechaNacimiento" type="date" max="{{currentDate | date:'yyyy-MM-dd'}}" placeholder="Indica tu fecha de nacimiento">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>  
                -->

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Nombre Torneus</mat-label>
                    <input  matTooltip="Nombre que te identificará dentro de la plataforma."
                    formControlName="nametorneus" matInput type="text" placeholder="Escribe un nombre de Torneus">
                    <mat-error *ngIf="registerJugadorOrganizadorForm.controls.nametorneus.errors?.required">
                        Ingresa el nombre Torneus que quieres tener en la plataforma.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" type="password" placeholder="Escribe una contraseña (al menos 1 número)">
                    <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
                    <mat-error *ngIf="registerJugadorOrganizadorForm.controls.password.errors?.required">
                        Ingresa una contraseña.
                    </mat-error>
                    <mat-error *ngIf="registerJugadorOrganizadorForm.controls.password.errors?.pattern">
                        Al menos un número y 8 o más caracteres.
                    </mat-error>
                </mat-form-field>

                <div *ngIf="successCuadro == true" class="successCuadro">
                    <p class="successCuadroText">Usuario Creado correctamente! Serás redirigido/a para Iniciar Sesión.</p>
                </div>

                <div class="buttonsContainer mt-3">
                    <button mat-raised-button color="default" type="reset">Limpiar</button>
                    <button [disabled]="this.registerJugadorOrganizadorForm.invalid" (click)="registrarUsuario()" mat-raised-button color="primary" type="submit">Registrarse</button>
                </div>
            </form>
        </div>

        <!------------------------------------------------------------------------------------- -->

        <!-- Formulario registra para equipo -->
        <div *ngIf="idRol == 3" class="content">
            <form [formGroup]="registerEquipoForm">

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Nombre Torneus / Nombre del Equipo</mat-label>
                    <input matTooltip="Nombre de tu Equipo."
                    formControlName="nametorneus" matInput type="text" placeholder="Escribe el nombre del Equipo">
                    <mat-error *ngIf="registerEquipoForm.controls.nametorneus.errors?.required">
                        Ingresa un nombre para tu equipo.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Escribe un email VÁLIDO (ejemplo: tuemail@ejemplo.com)">
                    <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
                    <mat-error *ngIf="registerEquipoForm.controls.email.errors?.required">
                        Ingresa un email.
                    </mat-error>
                    <mat-error *ngIf="registerEquipoForm.controls.email.errors?.pattern">
                        Ingresa un email válido: (ejemplo@ejemplo.com)
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>País del Equipo</mat-label>
                    <mat-select formControlName="pais">
                      <mat-option *ngFor="let pais of paises" (click)="test(pais)" [value]="pais.id">
                        {{pais.nombre}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Provincia del Equipo</mat-label>
                    <mat-select formControlName="provincia">
                      <mat-option *ngFor="let provincia of provincias" (click)="test(provincia)" [value]="provincia.id">
                        {{provincia.nombre}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Localidad del Equipo</mat-label>
                    <mat-select formControlName="localidad">
                      <mat-option *ngFor="let localidad of localidades" (click)="test(localidad)" [value]="localidad.id">
                        {{localidad.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="registerEquipoForm.controls.localidad.errors?.required">
                        Selecciona una localidad
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" type="password" placeholder="Escribe una contraseña (al menos 1 número)">
                    <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
                    <mat-error *ngIf="registerEquipoForm.controls.password.errors?.required">
                        Ingresa una contraseña.
                    </mat-error>
                    <mat-error *ngIf="registerEquipoForm.controls.password.errors?.pattern">
                        Más de 8 caracteres alfanuméricos.
                    </mat-error>
                </mat-form-field>

                <div *ngIf="successCuadro == true"  class="successCuadro">
                    <p class="successCuadroText">Usuario Creado correctamente! Serás redirigido/a para Iniciar Sesión.</p>
                </div>

                <!--
                <div *ngIf="!loginOk" class="alert alert-success" role="success">
                    Usuario Creado correctamente! Serás redirigido/a para Iniciar Sesión.
                </div>
                -->

                <div class="buttonsContainer mt-3">
                    <button mat-raised-button color="default" type="reset">Limpiar</button>
                    <button [disabled]="this.registerEquipoForm.invalid" (click)="registrarUsuario()" mat-raised-button color="primary" type="submit">Registrarse</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>