<div class="background">
    <div *ngIf="dataTorneo" class="container">
        <div class="row w-100">
            <div class="col-6 my-2">
                <mat-card class="h-100 mh-100">
                    <h2 class="text-center py-2">Datos del Torneo</h2>
                    <div class="d-flex align-items-center">
                        <mat-icon class="mx-1">emoji_events</mat-icon> {{dataTorneo.nombre}} - {{dataTorneo.descripcion}}
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center">
                        <mat-icon class="mx-1">event</mat-icon> {{dataTorneo.fechainicio | date : "dd/MM/yyyy"}} - {{dataTorneo.fechafin | date : "dd/MM/yyyy"}}
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center">
                        <mat-icon class="mx-1">grade</mat-icon> {{dataTorneo.recompensa}} puntos
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center">
                        <mat-icon class="mx-1">badge</mat-icon> {{dataTorneo.nametorneus}}
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <!--
                            <div class="text-end edit-link">
                                <a href="javascript:void(0)">Editar</a>
                            </div>
                            -->
                        </div>
                    </div>
                    
                </mat-card> 
            </div>
            
            <div class="col-6 my-2">
                <app-lista-participantes-main></app-lista-participantes-main>
            </div>

            <div class="col-6 my-2">
                <app-lista-aplicantes-main></app-lista-aplicantes-main>
            </div>

            <div class="col-12 my-2">
                <app-fixture-main [dataTorneo]="dataTorneo"></app-fixture-main>
            </div>
        </div>
    </div>
</div>