<div class="background">
    <div *ngIf="dataTorneo" class="container">
        <div class="row w-100">

            <div *ngIf="dataReady == false" class="col-12 h-100 w-100 mt-5 d-flex justify-content-center">
                <mat-spinner mode="indeterminate"></mat-spinner>
            </div>

            <!--
            <div class="col-12 my-2 position-sticky sticky-top">
                <div class="alert alert-success text-center blob " role="alert">
                    <p>Se han jugado todas las partidas del torneo! <b>Ya puedes finalizar el torneo</b></p>
                    <button mat-raised-button color="primary" (click)="finalizarTorneo()"><b>Finalizar Torneo</b></button>
                </div>
            </div>
            -->

            <div class="col-6 my-2" *ngIf="dataReady == true">
                <mat-card class="h-100 mh-100" *ngIf="dataReady == true">
                    <h2 class="text-center py-2">Datos del Torneo</h2>
                    <div class="d-flex align-items-center">
                        <mat-icon class="mx-1">emoji_events</mat-icon> {{dataTorneo.nombre}} - {{dataTorneo.descripcion}}
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center">
                        <mat-icon class="mx-1">event</mat-icon> {{dataTorneo.fechainicio | date : "dd/MM/yyyy"}} - {{dataTorneo.fechafin | date : "dd/MM/yyyy"}}
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center">
                        <mat-icon class="mx-1">grade</mat-icon> {{dataTorneo.recompensa}} puntos
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center">
                        <mat-icon class="mx-1">badge</mat-icon> {{dataTorneo.nametorneus}}
                    </div>
                    <hr/>

                    <!--
                    <button *ngIf="soyElOrganizador == true">Generar Versus</button>
                        -->
                </mat-card> 
            </div>
            
            <div class="col-6 my-2" *ngIf="dataReady == true">
                <app-lista-participantes-main></app-lista-participantes-main>
            </div>

            <div class="col-6 my-2" *ngIf="soyElOrganizador == true && dataReady == true">
                <app-lista-aplicantes-main [soyElOrganizador]="soyElOrganizador"></app-lista-aplicantes-main>
            </div>

            <div class="col-12 my-2" *ngIf="dataReady == true">
                <app-fixture-main [dataTorneo]="dataTorneo" [soyElOrganizador]="soyElOrganizador"></app-fixture-main>
            </div>
        </div>
    </div>
</div>