        <mat-card class="lista-aplicantes px-4">
            <h4 class="text-center">Lista de Aplicantes</h4>
            <!--
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <mat-icon>filter_alt</mat-icon>
                </span>
                <input type="text" class="form-control" placeholder="Filtrar por nombre" [(ngModel)]="term">
            </div>
            <div class="border text-muted p-4 m-5 text-center" *ngIf="usuarios.length == 0">
                No se han encontrado jugadores.
            </div>
            -->
            <div *ngFor = "let item of equipos " ><!--|filter:term-->
                <div class="row border-bottom">
                    <div class="col-8 d-flex align-items-center">
                        <span>{{item.name}}</span>
                    </div>
                    <div class="col-4 text-end">
                        <a class="px-1 text-center" (click)="acceptRejectTeam(true, item)" #newUser [attr.data-userid]="item.id" [attr.data-add_del]="'add'" href="javascript:void(0)">
                            <mat-icon class="text-success boton-accion" [inline]="true">
                                check_circle_outline
                            </mat-icon>
                        </a>
                        <a class="px-1 text-center" (click)="acceptRejectTeam(false, item)" #newUser [attr.data-userid]="item.id" [attr.data-add_del]="'add'" href="javascript:void(0)">
                            <mat-icon class="text-danger boton-accion" [inline]="true">
                                highlight_off
                            </mat-icon>
                        </a>
                    </div>
                </div>
            </div>
        </mat-card>
  
