<div class="background">
    <mat-card class="container">
        <div class="title">
            <app-button-back [ruta]="'/crear-torneo'"></app-button-back>
            <h3 class="tituloCard">Crear un torneo de tipo {{nombreTipoTorneo}}</h3>
        </div>

        <!-- Formulario registro para el tipo de torneo -->
        <div class="content"> <!--*ngIf="idTipoTorneo == 1 || idTipoTorneo == 3"-->
            <form [formGroup]="registerTipoTorneoForm">

                <!-- Nombre del torneo -->
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Nombre del torneo</mat-label>
                    <input matInput type="text" formControlName="nombre" placeholder="Escribe el nombre del torneo">
                    <mat-error *ngIf="registerTipoTorneoForm.controls.nombre.errors?.required">
                        Ingresa el nombre del torneo.
                    </mat-error>
                </mat-form-field>

                <div class="row">
                    <div class="col-md-6 col-12">
                        <!-- Fecha de inicio del torneo -->
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Fecha de inicio</mat-label>
                            <input matInput [matDatepicker]="pickerInicio" [min]="currentDate" formControlName="fechainicio"  
                            placeholder="DD-MM-AAAA"> <!--[max]="currentDate | date:'yyyy-MM-dd'"-->
                            <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                            <mat-datepicker #pickerInicio></mat-datepicker>
                            <mat-error *ngIf="registerTipoTorneoForm.controls.fechainicio.errors?.required">
                                Selecciona la fecha de inicio del torneo.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-12">
                        <!-- Fecha de fin del torneo -->
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Fecha de fin</mat-label>
                            <input matInput 
                            [value]="!registerTipoTorneoForm.controls.fechainicio.value ? '' : null" 
                            [min]="registerTipoTorneoForm.controls.fechainicio.value" [matDatepicker]="pickerFin" 
                            formControlName="fechafin" placeholder="DD-MM-AAAA">
                            <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFin></mat-datepicker>
                            <mat-error *ngIf="registerTipoTorneoForm.controls.fechafin.errors?.required">
                                Selecciona la fecha de fin del torneo.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Recompensa del torneo (puntos) -->
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Recompensa a cada jugador del equipo ganador (puntos)</mat-label>
                    <input matInput type="number" formControlName="recompensa" placeholder="Ingrese la recompensa (en puntos)">
                    <mat-error *ngIf="registerTipoTorneoForm.controls.recompensa.errors?.required">
                        Ingresa la recompensa de puntos para cada jugador al ganar el torneo.
                    </mat-error>
                </mat-form-field>

                <!-- Cantidad maxima de equipos -->
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Cantidad máxima de equipos</mat-label>
                    <input matInput type="number" formControlName="nroequipos" placeholder="Ingresa la cantidad máxima de equipos">
                    <mat-error *ngIf="registerTipoTorneoForm.controls.nroequipos.errors?.required">
                        Ingresa la cantidad máxima de equipos.
                    </mat-error>
                </mat-form-field>

                <div class="buttonsContainer mt-3">
                    <button mat-raised-button color="default" type="reset">Limpiar</button>
                    <button (click)="registrarTorneo()" [disabled]="this.registerTipoTorneoForm.invalid" mat-raised-button color="primary" type="submit">Crear torneo</button>
                </div>
            </form>

            <div class="alert alert-success my-3" role="alert">
                Torneo creado!
                <p>
                    Copia el nombre de tu torneo y envíaselo a quienes desees que participen en él:
                    <br>
                    <b>{{registerTipoTorneoForm.controls.nombre.value}}</b>
                    
                </p>
            </div>
        </div>
    </mat-card>
</div>