<div class="background">
    <mat-card class="container">
        <div class="title">
            <app-button-back [ruta]="'/crear-torneo'"></app-button-back>
            <h3 class="tituloCard">Crear un torneo de tipo {{nombreTipoTorneo}}</h3>
        </div>

        <!-- Formulario registro para el tipo de torneo -->
        <div class="content"> <!--*ngIf="idTipoTorneo == 1 || idTipoTorneo == 3"-->
            <form [formGroup]="registerTipoTorneoForm">

                <!-- Nombre del torneo -->
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Nombre del torneo</mat-label>
                    <input required matInput type="text" formControlName="nombre" placeholder="Escribe el nombre del torneo">
                    <mat-error *ngIf="registerTipoTorneoForm.controls.nombre.errors?.required">
                        Ingresa el nombre del torneo.
                    </mat-error>
                </mat-form-field>

                <div class="row">
                    <div class="col-md-6 col-12">
                        <!-- Fecha de inicio del torneo -->
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Fecha de inicio</mat-label>
                            <input required matInput readonly [matDatepicker]="pickerInicio" [min]="currentDate" formControlName="fechainicio"  
                            placeholder="DD-MM-AAAA"> <!--[max]="currentDate | date:'yyyy-MM-dd'"-->
                            <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                            <mat-datepicker #pickerInicio></mat-datepicker>
                            <mat-error *ngIf="registerTipoTorneoForm.controls.fechainicio.errors?.required">
                                Selecciona la fecha de inicio del torneo.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-12">
                        <!-- Fecha de fin del torneo -->
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Fecha de fin</mat-label>
                            <input required matInput  readonly
                            [value]="!registerTipoTorneoForm.controls.fechainicio.value ? '' : null" 
                            [min]="registerTipoTorneoForm.controls.fechainicio.value" [matDatepicker]="pickerFin" 
                            formControlName="fechafin" placeholder="DD-MM-AAAA">
                            <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFin></mat-datepicker>
                            <mat-error *ngIf="registerTipoTorneoForm.controls.fechafin.errors?.required">
                                Selecciona la fecha de fin del torneo.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Recompensa del torneo (puntos) -->
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Recompensa (puntos)</mat-label>
                    <input required matInput type="number" [min]="1" [max]="10000" (keypress)="($event.charCode >= 48 && $event.charCode < 58)" formControlName="recompensa" placeholder="Ingrese la recompensa (en puntos)">
                    <mat-error *ngIf="registerTipoTorneoForm.controls.recompensa.errors?.required">
                        Ingresa la recompensa del torneo
                    </mat-error>
                    <mat-error *ngIf="registerTipoTorneoForm.controls.recompensa.errors?.min">
                        La cantidad mínima de puntos es 1
                    </mat-error>
                    <mat-error *ngIf="registerTipoTorneoForm.controls.recompensa.errors?.max">
                        La cantidad máxima de puntos es 10.000
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Cantidad máxima de equipos</mat-label>
                    <mat-select required formControlName="nroequipos">
                        <mat-option *ngFor="let numero of listaNumeroEquipos" [value]="numero">
                            {{numero}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Cantidad maxima de equipos -->
                <!--<mat-form-field class="form-field" appearance="outline">
                    
                    
                    <input matInput type="number" [min]="2" (keypress)="($event.charCode >= 48 && $event.charCode < 58)" formControlName="nroequipos" placeholder="Ingresa la cantidad máxima de equipos">
                    <mat-error *ngIf="registerTipoTorneoForm.controls.nroequipos.errors?.required">
                        Ingresa la cantidad máxima de equipos.
                    </mat-error>
                    <mat-error *ngIf="registerTipoTorneoForm.controls.nroequipos.errors?.min">
                        La cantidad mínima de equipos es 2.
                    </mat-error>
                    
                </mat-form-field>-->

                <div *ngIf="createdOk" class="alert alert-success my-3" role="alert">
                    Torneo creado!
                    <ul>
                        <li>Copia el nombre de tu torneo y envíaselo a quienes desees que participen en él:
                            <ul>
                                <li><b>{{registerTipoTorneoForm.controls.nombre.value}}</b></li>
                            </ul>
                        </li>
                        <li>Puedes ver los torneos que has creado en <span 
                            [routerLink]="'/torneos/mis-torneos'" class="link-primary">Mis Torneos</span>
                        </li>
                    </ul>
                </div>

                <div *ngIf="createdOk == false" class="buttonsContainer mt-3">
                    <button mat-raised-button color="default" type="reset">Limpiar</button>
                    <button (click)="registrarTorneo()" [disabled]="this.registerTipoTorneoForm.invalid" mat-raised-button color="primary" type="submit">Crear torneo</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>