<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
  <div class="container-fluid">
    <a class="navbar-brand mr-5" [routerLink]="'/'">
      <img src="../../../assets/images/logo-torneus-main.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Torneus
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between"> 

        <!-- Por cada opcion padre -->
        <li *ngFor="let item of menu" class="nav-item active" [class.dropdown]="item.submenus.length > 0"
          [class.ml-auto]="item.submenus.length > 0">

          <!-- Opcion simple, sin submenus-->
          <a *ngIf="item.submenus.length == 0" class="nav-link" [routerLink]="item.url">{{item.nombre}}</a>

          <!-- Opcion son submenus -->
          <a  *ngIf="item.submenus.length > 0" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{item.nombre}}
          </a>
          <ul *ngIf="item.submenus.length > 0" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let submenu of item.submenus">
              <a class="dropdown-item" [routerLink]="submenu.url">{{submenu.nombre}}</a>
            </li>
          </ul>
          
        </li>
      </ul>

      <ul  class="navbar-nav ">
        <li class="nav-item active dropdown d-flex flex-column justify-self-right">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{sessionData.username}} ({{rolUsuario}})
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="'/perfil'">Mi Perfil</a></li>
            <li><a class="dropdown-item text-danger" (click)="logout()">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>