<div class="background">
    <mat-card class="container">
        <div class="title">
            <app-button-back [ruta]="'/login'"></app-button-back>
            <h3 class="tituloCardRol">¿Qué rol quieres tener en la plataforma?</h3>
        </div>

        <div class="roles">
            <button class="buttonRol" id="jugador" (click)="openDialog(1)" mat-raised-button color="primary"><h2 class="nombreRolButton">Jugador / a</h2></button>
            <button class="buttonRol" id="equipo" (click)="openDialog(2)" mat-raised-button color="primary"><h2 class="nombreRolButton">Equipo</h2></button>
            <button class="buttonRol" id="organizador" (click)="openDialog(3)" mat-raised-button color="primary"><h2 class="nombreRolButton">Organizador</h2></button>
        </div>
    </mat-card>
</div>