<div class="background">

    <div class="login-container px-5 py-3">
        <div class="row mt-3 align-items-center">
            <h1 class="col-9">Iniciar Sesión</h1>
            <img src="./../../../../assets/images/logo-torneus-main.svg" widht="60px" height="80px" class="col-3" alt="Logo Torneus">
        </div>
        
        <form [formGroup]="loginForm">
            <div class="row  mt-4">
                <div class="col-12">
                    <mat-form-field class="input" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" placeholder="Escribe tu email...">
                    
                        <mat-error *ngIf="loginForm.controls.email.errors?.required">
                            Ingresa un email.
                        </mat-error>
                        <mat-error *ngIf="loginForm.controls.email.errors?.pattern">
                            Ingresa un email válido. Ej: (ejemplo@ejemplo.com)
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 mt-2">
                    <mat-form-field class="input" appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput formControlName="password" placeholder="Escribe tu contraseña...">
                    
                        <mat-error *ngIf="loginForm.controls.password.errors?.required">
                            Ingresa una contraseña.
                        </mat-error>
                        <mat-error *ngIf="loginForm.controls.password.errors?.minlength">
                            Ingresa al menos 6 caracteres.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div style=" margin-bottom: 10px;" *ngIf="loginData == false" class="alert alert-danger" role="alert">
                    Datos erróneos.
                </div>

                <div class="col-12 mt-2">
                    <button mat-raised-button (click)="login()" type="submit" class="input btn-primary">Iniciar Sesión</button>
                </div>

                <mat-progress-bar *ngIf="loginOk" style="margin-bottom: 16px; margin-top: 16px;" color="primary" mode="indeterminate">
                </mat-progress-bar>

                

                <div class="col-12 mt-3 text-center align-items-center">
                    ¿No tienes cuenta? <span [routerLink]="'/register'" class="link-primary"><b>Regístrate</b></span>
                </div>
            </div>
        </form>
        
    </div>

    

</div>