<div class="background">
    <div class="container">
        <mat-card class="my-2 px-4">
            <h3 class="text-center mb-4">Todos los Torneos</h3>
            <div *ngIf="dataReady == false " class="row w-100 d-flex justify-content-center mt-4 align-items-center">
                <mat-spinner style="zoom:0.8;"
                    mode="indeterminate">
                </mat-spinner>
            </div>
            <div *ngIf="dataReady == true" class="row w-100">
                <div *ngIf="listaTorneos.length > 0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Juego</th>
                                <th scope="col">Fecha Inicio</th>
                                <th scope="col">Fecha Fin</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cadaTorneo" *ngFor="let torneo of listaTorneos" (click)="objetoTorneo(torneo)">
                                <th scope="row">{{torneo.nombre}}</th>
                                <td>
                                    <img width="20" [src]="'../../../../assets/videogames/'+torneo.url" alt="{{torneo.nombrevideojuego}}" />
                                    {{torneo.nombrevideojuego}}
                                </td>
                                <td>{{torneo.fechainicio}}</td>
                                <td>{{torneo.fechafin}}</td>
                                <td *ngIf="torneoExpirado(torneo) == true" class="text-danger">Finalizado</td>
                                <td *ngIf="torneoExpirado(torneo) == false" class="text-success">Abierto</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Si no hay torneos -->
                <div *ngIf="listaTorneos.length == 0">
                    <ng-container>
                        <p>
                            <i>Aún no existen torneos! Un Organizador puede crear torneos para que los equipos
                            puedan competir por el premio.</i>
                        </p> 
                        <p *ngIf="rol == 'Organizador'"><b>
                            Tú eres un Organizador! Puedes crear torneos.
                            <span [routerLink]="'/torneos/crear-torneo'" class="link-primary"><b>Crear Torneo</b></span>
                        </b></p>
                    </ng-container>
                </div>
                
            </div>
        </mat-card>

        <!--<button mat-raised-button (click)="setearObjeto()">Enviar id a perfil</button> -->
    </div>
</div>