.background{
    background-image: url('/assets/images/login-background.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    background-attachment: fixed;
}

.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: unset;
}

table{
    width:100%;
    text-align: left;
}

.boton-accion{
    font-size:28px!important;
}

.edit-link{
    font-size:12px;
}

.containerFotoPerfil{
    margin: auto;
    border-style: solid;
    /*border-color: var(--primary-color);*/
    border-color:white;
    border-width: 6px;
    width: 250px;
    height: 250px;
    background-size: cover;

    .fotoPerfil{
        
    }
}

.invitaciones{
    background-color: var(--primary-color);
    padding: 16px 4px;

    
    .cardsInvitaciones{
        justify-content:space-between;
        flex-wrap: wrap;

        .cardInvitacion{
            width: 48%;
            margin-bottom: 16px;
            justify-content: center;
        
            .btnInvitacion{
                margin-bottom: 16px;
            }
        }
    }

    .invitacionesTitulo{
        margin-bottom: 12px !important;
    }
}

.link{
    cursor: pointer;
}

.link:hover{
    color: var(--primary-color);
}

/* Mobile */
@media screen and (max-width: 600px) {
    .btnInvitacion{
        margin-bottom: 12px;
    }
}

/* Tablets y monitores pequeños */
@media (min-width: 600px) and (max-width: 920px) {

}

/* PC */
@media (min-width: 920px){
    
}

