<div class="container d-flex flex-column bg-white text-dark h-100 text-center py-3">
    <h1>Mi Perfil</h1>

    <div class="containerFotoPerfil">
        <img src="./../../../../assets/images/jugador2.jpg" class="fotoPerfil rounded-circle img-fluid" alt="Foto de perfil">
    </div>

    <hr>

    <div class="invitaciones d-flex flex-column text-white">
        <div class="invitacionesTitulo">
            <h3>Invitaciones de Equipos</h3>
        </div>

        <div class="cardsInvitaciones container-fluid d-flex">
            <mat-card class="cardInvitacion text-center">
                <mat-card-header>
                    <mat-card-title [routerLink]="'/perfil'" class="link ">STK T1</mat-card-title>
                    <mat-card-subtitle>Te invita a su equipo y espera por tu respuesta.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button class="btnInvitacion btn btn-danger">Rechazar</button>
                    <button mat-raised-button class="btnInvitacion btn btn-success">Aceptar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div class="datos d-flex flex-column mt-4">
        <div class="datosTitulo">
            <h3>Mis Datos</h3>
        </div>
        <mat-form-field class="bg-white" appearance="outline">
            <mat-label>Nombre Torneus</mat-label>
            <input matInput placeholder="Nombre Torneus" value="KevinMekuru">
            <mat-icon matSuffix>save</mat-icon>
        </mat-form-field>

        <mat-form-field class="bg-white" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" value="Kevin">
            <mat-icon matSuffix>save</mat-icon>
        </mat-form-field>

        <mat-form-field class="bg-white" appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Apellido" value="Pancracio">
            <mat-icon matSuffix>save</mat-icon>
        </mat-form-field>

        <mat-form-field class="bg-white" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" value="kevin@gmail.com">
            <mat-icon matSuffix>save</mat-icon>
        </mat-form-field>
    </div>
</div>