<div class="background">
    <div class="container text-dark">
        <!--<h1>Mi Perfil</h1>-->
        <div class="row my-4">
            <div class="col-12 col-md-4">
                <div class="containerFotoPerfil rounded-circle" [ngStyle]="{'background-image' : 'url(./assets/images/logo-torneus-main.svg)'}"></div>
            </div>

            <div class="col-12 col-md-8">
                <mat-card class="h-100 mh-100">
                    <h2 class="text-center">Datos del Usuario</h2>
                    <div class="d-flex align-items-center">
                        <mat-icon class="mx-1">account_circle</mat-icon> {{usuarioActual.username}}
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center">
                        <mat-icon class="mx-1">email</mat-icon> {{usuarioActual.email}}
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center">
                        <mat-icon class="mx-1">badge</mat-icon> {{rolUsuarioActual}}
                    </div>
                    <hr/>
                    <ng-container *ngIf="usuarioActual.idrol == 4">
                        <div class="d-flex align-items-center">
                            <mat-icon class="mx-1">emoji_events</mat-icon>
                            <a [routerLink]="'/torneos/mis-torneos'">Ver mis torneos</a>
                        </div>
                        <hr/>
                    </ng-container>
                    <!--
                    <div class="text-end edit-link">
                        <a (click)="editarPerfil()" href="javascript:void(0)">Editar</a>
                    </div>
                    -->
                </mat-card>
            </div>

        </div>
        <div class="row">
            <app-lista-mis-equipos class="col-12 col-md-6 my-2"></app-lista-mis-equipos>
            <app-lista-invitaciones-equipos class="col-12 col-md-6 my-2"></app-lista-invitaciones-equipos>
        </div>
        <app-lista-torneos-inscriptos *ngIf="usuarioActual.idrol == 3" class="my-2"></app-lista-torneos-inscriptos>
        <app-lista-mis-jugadores *ngIf="usuarioActual.idrol == 3" class="my-2"></app-lista-mis-jugadores>

       <!--
        <mat-card class="my-2">
            <div *ngFor="let fecha of encuentros; let i = index">
                <h2>Fecha {{i+1}}</h2>
                <div *ngFor="let partido of fecha">
                    <span>{{partido.home}} vs {{partido.away}}</span>
                </div>
            </div>
        </mat-card>
        -->

    </div>
</div>