<div class="background">
    <mat-card class="container">
        <div class="title">
            <!--
            <app-button-back [ruta]="'/login'"></app-button-back>
            -->
            <h3 class="tituloCardTipoTorneo">Seleccione el tipo de torneo</h3>
        </div>

        <div class="tipo-torneo">
            <!--
            <button class="buttonTipoTorneo" id="copa" (click)="openDialog(1)" mat-raised-button color="primary">
                <h2 class="nombreTipoTorneoButton">Copa</h2>
            </button>
            
            <button class="buttonTipoTorneo" id="fase-grupos" (click)="openDialog(2)" mat-raised-button color="primary">
                <h2 class="nombreTipoTorneoButton">Fase de Grupos</h2>
            </button>
            -->
            <button class="buttonTipoTorneo" id="liga" (click)="openDialog(1)" mat-raised-button color="primary">
                <h2 class="nombreTipoTorneoButton">Liga</h2>
            </button>
        </div>
    </mat-card>
</div>