<div class="row h-100">
    <div class="col-12 my-2">
        <mat-card class="h-100 mh-100">
        <div class="row h-100">
            <div class="col-12">
                <div class="container-juego-image rounded-circle">
                    <div class="containerFotoPerfil rounded-circle" [ngStyle]="{'background-image' : 'url(./assets/videogames/'+dataTorneo.url+')'}"><!--{{infoJuego.url}}--></div>
                </div>
            </div>
            <div class="col-12">
                <h3 class="text-center py-2"> {{dataTorneo.nombrevideojuego}}</h3>
            </div>
        </div> 
    </mat-card>
    </div>
</div>