<div class="land-ventajas">
    <div class="row pt-3">
        <div class="col-md-4 col-12 d-flex contenedor-ventajas">
            <!--<img src="/assets/images/Logo Torneus 2.svg">-->
            <div class="iconos-landing">
                <mat-icon>how_to_reg</mat-icon>
            </div>
            <h3>Registrate gratis</h3>
            <p>Crea tu cuenta en pocos minutos y de manera gratuita</p>
        </div>
        <div class="col-md-4 col-12 d-flex contenedor-ventajas">
            <!--<img src="/assets/images/Logo Torneus 2.svg">-->
            <div class="iconos-landing">
                <mat-icon>games</mat-icon>
            </div>
            <h3>Elige un torneo</h3>
            <p>Puedes encontrar torneos de diferentes videojuegos.</p>
        </div>
        <div class="col-md-4 col-12 d-flex contenedor-ventajas">
            <!--<img src="/assets/images/Logo Torneus 2.svg">-->
            <div class="iconos-landing">
                <mat-icon>emoji_events</mat-icon>
            </div>
            <h3>Crea tu propio torneo</h3>
            <p>Organiza tu propio torneo y gestionalo con facilidad.</p>
        </div>

        <div class="col-md-6 col-12 d-flex contenedor-ventajas">
            <!--<img src="/assets/images/Logo Torneus 2.svg">-->
            <div class="iconos-landing">
                <mat-icon>keyboard_double_arrow_up</mat-icon>
            </div>
            <h3>Sube tu Prestigio</h3>
            <p>Cuando tu equipo gane un torneo, ganarás prestigio y subirás en el ranking. Intenta llegar a
                a lo más alto!
            </p>
        </div>
        <div class="col-md-6 col-12 d-flex contenedor-ventajas">
            <!--<img src="/assets/images/Logo Torneus 2.svg">-->
            <div class="iconos-landing">
                <mat-icon>check_circle</mat-icon>
            </div>
            <h3>Interfaz amigable</h3>
            <p>Torneus posee una interfaz amigable con el usuario y aprender a usar la plataforma es muy sencillo.</p>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-12 d-flex justify-content-center m-auto">
            <button [routerLink]="'/register'" class="p-2 px-4" mat-flat-button color="primary">REGISTRATE AHORA</button>
        </div>
    </div>
</div>