<div class="land-ventajas">
    <div class="row py-3">
        <div class="col-md-4 col-12 d-flex contenedor-ventajas">
            <!--<img src="/assets/images/Logo Torneus 2.svg">-->
            <div class="iconos-landing">
                <mat-icon>games</mat-icon>
            </div>
            <h3>Registrate gratis</h3>
            <p>Crea tu cuenta en pocos minutos y de manera gratuita</p>
        </div>
        <div class="col-md-4 col-12 d-flex contenedor-ventajas">
            <!--<img src="/assets/images/Logo Torneus 2.svg">-->
            <div class="iconos-landing">
                <mat-icon>games</mat-icon>
            </div>
            <h3>Elige un torneo</h3>
            <p>Elige el videojuego que prefieras y compite con otros jugadores</p>
        </div>
        <div class="col-md-4 col-12 d-flex contenedor-ventajas">
            <!--<img src="/assets/images/Logo Torneus 2.svg">-->
            <div class="iconos-landing">
                <mat-icon>games</mat-icon>
            </div>
            <h3>Crea tu propio torneo</h3>
            <p>Organiza tu propio torneo y gestionalo con facilidad</p>
        </div>

        <div class="col-md-6 col-12 d-flex contenedor-ventajas">
            <!--<img src="/assets/images/Logo Torneus 2.svg">-->
            <div class="iconos-landing">
                <mat-icon>games</mat-icon>
            </div>
            <h3>Sube tu Prestigio</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-6 col-12 d-flex contenedor-ventajas">
            <!--<img src="/assets/images/Logo Torneus 2.svg">-->
            <div class="iconos-landing">
                <mat-icon>games</mat-icon>
            </div>
            <h3>Gana premios</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-12 d-flex justify-content-center m-auto">
            <button [routerLink]="'/register'" class="p-2 px-4" mat-flat-button color="primary">REGISTRATE AHORA</button>
        </div>
    </div>
</div>