@import "~@angular/material/theming";
@include mat-core();


html, body { height: 100%; }
body { margin: 0; font-family: "Varela Round", sans-serif !important; }

:root {
    --primary-color: #19458d;
    --primary-color-013: rgb(100, 136, 106, 0.129);
    --secundary-color: #00a8e0;
    --error-color: #d51a67;
    --error-color-013: rgba(238, 46, 49, 0.129);
    --warning-color: #f7c30d;
    --warning-color-013: #ff991421;
  }