<div class="land-paneles d-flex">
    <mat-accordion class="land-accordion">
        <mat-expansion-panel hideToggle class="land-toggle-title">
            <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
                <mat-panel-title>
                    <h1>¿Quienes Somos?</h1>
                </mat-panel-title>
                <!--
                <mat-panel-description>
                    This is a summary of the content
                </mat-panel-description>
                -->
            </mat-expansion-panel-header>
            <div>
                <b>Torneus</b> fue desarrollado por:
                <ul>
                    <li>Kevin Espinoza</li>
                    <li>Maximiliano Bajamon</li>
                    <li>Agustin Cerda</li>
                </ul>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle class="land-toggle-title">
            <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
                <mat-panel-title>
                    <h1>Nuestro Objetivo</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                <b>Torneus</b> nació para que los y las gamers tengan un lugar donde las partidas 
                    del día a día trasgredan y tomen una relevancia mucho mayor, en un contexto
                    de competencia. 
            </p>
            <p>¿Qué hay más divertido que jugar a tu videojuego favorito y sentir que tu desempeño tendrá 
                un impacto?
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle class="land-toggle-title">
            <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
                <mat-panel-title>
                    <h1>Contacto</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                <b>Kevin Espinoza</b> (Desarrollador del Frontend): kevinespinozadev@gmail.com
            </p>
        </mat-expansion-panel>
    </mat-accordion>
</div>