<div class="land-paneles d-flex">
    <mat-accordion class="land-accordion">
        <mat-expansion-panel hideToggle class="land-toggle-title">
            <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
                <mat-panel-title>
                    <h1>¿Quienes Somos?</h1>
                </mat-panel-title>
                <!--
                <mat-panel-description>
                    This is a summary of the content
                </mat-panel-description>
                -->
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim perferendis unde vero atque deserunt ex! Veniam at quas quos tempora modi, sequi incidunt ipsa sapiente omnis ipsum doloribus quisquam sint?</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle class="land-toggle-title">
            <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
                <mat-panel-title>
                    <h1>Nuestro Objetivo</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui soluta, ab optio suscipit amet accusamus nisi ex sit impedit delectus. Nam in ut laudantium alias molestiae nihil aut omnis magnam!</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle class="land-toggle-title">
            <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
                <mat-panel-title>
                    <h1>Honestidad Deportiva</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dolorem vero distinctio fuga neque, repellat quos voluptatibus est tempora, dolore debitis inventore nostrum eligendi quas numquam itaque ad omnis at!</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>